#include <stdio.h>
#include <stdlib.h>


typedef struct date_t{
	char month[30];
 	int day, year;
};
typedef struct Time_t{
	int hours, minutes, seconds;
};
typedef struct event_t{
	char* event_name;
	date_t date;
	Time_t time;
};

int main () {
	struct event_t Ev;
	char ch;
	printf("Input the name of the event: ");
	scanf("%s", &Ev.event_name);
	printf("\nInput its date: month (as text), day,year: ");
	scanf("%s %d %d", &Ev.date.month, &Ev.date.day, &Ev.date.year );
	printf("\nInput its time: format hh:mm:ss : ");
	scanf("%d", &Ev.time.hours);
	ch=getchar();
	scanf("%d",&Ev.time.minutes);
	ch=getchar();
	scanf("%d", &Ev.time.seconds);
	printf("\nyour event '%s' will be on : %d %s %d", Ev.event_name, Ev.date.day, Ev.date.month, Ev.date.year);
	printf("\nat %d:%d:%d \n", Ev.time.hours, Ev.time.minutes, Ev.time.seconds);
	return 0;	
}
